h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.center-align {
    text-align: center;
}

#container {
    /* border: rgb(236, 253, 0) 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    /* border: 1px solid #ff0000; */
    width: 600px;
    text-align: center;
}