@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  font-size: 24px;
  background: linear-gradient(to bottom, #00b7ff, #641bda);
}

h1 {
  font-weight: bold;
  font-size: 80px;
  margin: 0;
}

button {
  border-radius: 80px;
  border: 6px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 60px;
}

input {
  background-color: #eee;
  border: 4px solid #ddd;
  padding: 30px 24px;
  margin: 30px 0;
  width: 100%;
  font-size: 36px;
}

.sign-in-container {
  font-weight: 100;
}

.sign-up-container {
  font-weight: 100;
  display: none;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 60px;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.fade-in {
  animation: fadeIn 1.8s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
